<label>Agent ID</label>
<input type="text" name="Agent_ID" placeholder="Agent ID" value="<%= agent.Agent_ID %>">
<label>Last Name</label>
<input type="text" name="LName_Agent" placeholder="Agent Last Name" value="<%= agent.LName_Agent %>">
<label>First Name</label>
<input type="text" name="FName_Agent" placeholder="Agent First Name" value="<%= agent.FName_Agent %>">
<label>Contact No.</label>
<input type="text" name="Phone_Agent" placeholder="Agent Contact Number" value="<%= agent.Phone_Agent %>">
<label>Under Branch</label>
<select name="Branch_ID">
    <option label="--- Select Branch---" value="">
    <% branchlist.forEach(branch => { %>
        <% if (branch.Branch_ID === agent.Branch_ID) { %>
            <option label="<%= branch.BranchName %>" value="<%= branch.Branch_ID %>">
        <% } else { %>
            <option label="<%= branch.BranchName %>" value="<%= branch.Branch_ID %>">
        <% } %>   
    <% }) %>
</select>